{% extends "main_layout.html" %}

{% block styles %}
    {% load static%}
    <link href="{% static "vendors/clockpicker/clockpicker.css" %}" rel="stylesheet">
{% endblock %}

{% block main_title %}
{% if form.instance.pk is None%}
Crear horario
{% else %}
Editar horario
{% endif %}
{% endblock %}

{% block content  %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a href="#" ><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{form.turno.id_for_label}}" class="control-label col-xs-3">TURNO *</label>
                        <div class="col-xs-6">
                            {{form.turno}}
                            {% if form.turno.errors %}
                            <span class="text-danger">{{form.turno.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{form.hora_ingreso.id_for_label}}" class="control-label col-xs-3">HORA INGRESO *</label>
                        <div class="col-xs-6">
                            {{form.hora_ingreso}}
                            {% if form.hora_ingreso.errors %}
                            <span class="text-danger">{{form.hora_ingreso.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{form.hora_salida.id_for_label}}" class="control-label col-xs-3">HORA SALIDA *</label>
                        <div class="col-xs-6">
                            {{form.hora_salida}}
                            {% if form.hora_salida.errors %}
                            <span class="text-danger">{{form.hora_salida.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-6">
                            <div class="pull-right">
                                <a class="btn btn-default" href="{% url 'horario.lista' %}"><i class="fa fa-arrow-left"></i> Volver</a>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i> Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>
{% endblock  %}

{% block scripts %}
    {% load static%}
    <script src="{% static "vendors/clockpicker/clockpicker.js" %}"></script>
    <script>
        $(function(){
            $(".clockpicker").clockpicker({
                donetext: 'Aplicar',
                autoclose: true
            });
        });
    </script>
{% endblock %}