{% extends "main_layout.html" %}

{% block styles%}
{% load static%}
<link href="{% static "vendors/iCheck/skins/flat/green.css" %}" rel="stylesheet">
{% endblock %}

{% block main_title %}
Listado de horarios
{% endblock %}

{% block content  %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a href="#" ><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="btn-group" style="margin-bottom: 5px">
                            <a id="btn-new" class="btn btn-default" href="{% url 'horario.crear' %}"><i class="fa fa-plus"></i> Agregar</a>
                            <button id="btn-edit" type="button" class="btn btn-default"><i class="fa fa-edit"></i> Modificar</button>
                            <button id="btn-remove" type="button" class="btn btn-default"><i class="fa fa-trash"></i> Eliminar</button>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped jambo_table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>TURNO</th>
                            <th>HRA. ENTRADA</th>
                            <th>HRA. SALIDA</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for horario in object_list %}
                        <tr data-edit="{% url 'horario.editar' horario.id %}"
                            data-remove="{% url 'horario.eliminar' horario.id %}">
                            <td>
                                <input type="checkbox" class="icheck">
                            </td>
                            <td>{{ horario.turno }}</td>
                            <td>{{ horario.hora_ingreso }}</td>
                            <td>{{ horario.hora_salida }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">No se han encontrado elementos.</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}

{% block scripts %}
{% load static %}
<script src="{% static "vendors/iCheck/icheck.min.js" %}"></script>
<script>
    $(function(){
        checkTableStatus();

        $('.icheck').iCheck({
            checkboxClass:"icheckbox_flat-green"
        });

        $('.icheck').on('ifToggled', function(e){
            var $check = $(e.target);
            if($check.prop('checked')){
                $('.icheck').not($check).iCheck('uncheck');
            }
            checkTableStatus();
        });

        $('#btn-remove').on('click', function(){
            var $selected = $('.icheck:checked').first();
            if($selected){
                var answer = confirm("¿Esta seguro de eliminar?");
                if(answer){
                    var delUrl = $selected.closest('tr').data('remove');
                    $.ajax({
                        method: 'get',
                        url: delUrl,
                        success: function(data){
                            if(data.success){
                                window.location.reload();
                            }
                        }
                    });
                }
            }
        });

        $('#btn-edit').on('click', function(){
            var $selected = $('.icheck:checked').first();
            if($selected){
                var newUrl = $selected.closest('tr').data('edit');
                window.location.assign(newUrl);
            }
        });
    });

    function checkTableStatus(){
        $("#btn-edit").addClass('disabled');
        $("#btn-remove").addClass('disabled');
        $("#btn-detail").addClass('disabled');
        $('.icheck').each(function(){
            var $elem = $(this);
            if($elem.prop('checked')){
                $("#btn-edit").removeClass('disabled');
                $("#btn-remove").removeClass('disabled');
                $("#btn-detail").removeClass('disabled');
            }
        });        
    }
</script>
{% endblock %}