{% extends "main_layout.html" %}

{% block main_title %}
Modificar datos personales <small>(Secretaria)</small>
{% endblock %}

{% block content  %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a href="#" ><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal" method="POST">
                    {% csrf_token %}
                
                    <div class="form-group">
                        <label for="{{pers_form.ci.id_for_label}}" class="control-label col-xs-3">CI *</label>
                        <div class="col-xs-6">
                            {{pers_form.ci}}
                            {% if pers_form.ci.errors %}
                            <span class="text-danger">{{pers_form.ci.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{pers_form.nombres.id_for_label}}" class="control-label col-xs-3">NOMBRES *</label>
                        <div class="col-xs-6">
                            {{pers_form.nombres}}
                            {% if pers_form.nombres.errors %}
                            <span class="text-danger">{{pers_form.nombres.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{pers_form.apellidos.id_for_label}}" class="control-label col-xs-3">APELLIDOS *</label>
                        <div class="col-xs-6">
                            {{pers_form.apellidos}}
                            {% if pers_form.apellidos.errors %}
                            <span class="text-danger">{{pers_form.apellidos.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{pers_form.direccion.id_for_label}}" class="control-label col-xs-3">DIRECCION *</label>
                        <div class="col-xs-6">
                            {{pers_form.direccion}}
                            {% if pers_form.direccion.errors %}
                            <span class="text-danger">{{pers_form.direccion.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{pers_form.telefono.id_for_label}}" class="control-label col-xs-3">TELEFONO *</label>
                        <div class="col-xs-6">
                            {{pers_form.telefono}}
                            {% if pers_form.telefono.errors %}
                            <span class="text-danger">{{pers_form.telefono.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-6">
                            <div class="pull-right">
                                <a href="{% url 'secretaria.lista' %}" class="btn btn-default">
                                    <i class="fa fa-arrow-left"></i> Volver
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i> Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>
{% endblock  %}