{% extends "main_layout.html" %}

{% block styles%}
{% load static%}
<link href="{% static "vendors/iCheck/skins/flat/green.css" %}" rel="stylesheet">
{% endblock %}

{% block main_title %}
Listado de usuarios <small>(Secretaria)</small>
{% endblock %}

{% block content  %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a href="#" ><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="btn-group" style="margin-bottom: 5px">
                            <a id="btn-new" class="btn btn-default" href="{% url 'secretaria.crear' %}"><i class="fa fa-plus"></i> Agregar</a>
                            <a class="btn btn-default" href="{% url 'horario.turnos' %}"><i class="fa fa-clock-o"></i> Turnos</a>
                            <button type="button" id="btn-edit"class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-edit"></i> Modificar <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" id="btn-edit-data">Datos Personales</a></li>
                                <li><a href="#" id="btn-edit-credentials"><i class="fa fa-lock"></i> Credenciales</a>
                                </li>
                            </ul>
                            <button id="btn-remove" type="button" class="btn btn-default"><i class="fa fa-trash"></i> Eliminar</button>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped jambo_table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>USUARIO</th>
                            <th>CI</th>
                            <th>NOMBRES</th>
                            <th>APELLIDOS</th>
                            <th>DIRECCION</th>
                            <th>TELEFONO</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for secre in object_list %}
                        <tr data-edit-data="{% url 'secretaria.editar_datos' secre.id %}"
                            data-edit-credentials="{% url 'secretaria.editar_credenciales' secre.id %}"
                            data-remove="{% url 'secretaria.eliminar' secre.id %}">
                            <td>
                                <input type="checkbox" class="icheck">
                            </td>
                            <td>{{secre.usuario.usuario}}</td>
                            <td>{{secre.usuario.persona.ci}}</td>
                            <td>{{secre.usuario.persona.nombres}}</td>
                            <td>{{secre.usuario.persona.apellidos}}</td>
                            <td>{{secre.usuario.persona.direccion}}</td>
                            <td>{{secre.usuario.persona.telefono}}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7">No se han encontrado elementos.</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}

{% block scripts %}
{% load static %}
<script src="{% static "vendors/iCheck/icheck.min.js" %}"></script>
<script>
    $(function(){
        checkTableStatus();

        $('.icheck').iCheck({
            checkboxClass:"icheckbox_flat-green"
        });

        $('.icheck').on('ifToggled', function(e){
            var $check = $(e.target);
            if($check.prop('checked')){
                $('.icheck').not($check).iCheck('uncheck');
            }
            checkTableStatus();
        });

        $('#btn-remove').on('click', function(){
            var $selected = $('.icheck:checked').first();
            if($selected){
                var answer = confirm("¿Esta seguro de eliminar?");
                if(answer){
                    var delUrl = $selected.closest('tr').data('remove');
                    $.ajax({
                        method: 'get',
                        url: delUrl,
                        success: function(data){
                            if(data.success){
                                window.location.reload();
                            }
                        }
                    });
                }
            }
        });

        $('#btn-edit-data').on('click', function(e){
            e.preventDefault();
            var $selected = $('.icheck:checked').first();
            if($selected){
                var newUrl = $selected.closest('tr').data('edit-data');
                window.location.assign(newUrl);
            }
        });

        $('#btn-edit-credentials').on('click', function(e){
            e.preventDefault();
            var $selected = $('.icheck:checked').first();
            if($selected){
                var newUrl = $selected.closest('tr').data('edit-credentials');
                window.location.assign(newUrl);
            }
        });
    });

    function checkTableStatus(){
        $("#btn-edit").addClass('disabled');
        $("#btn-remove").addClass('disabled');
        $("#btn-detail").addClass('disabled');
        
        $('.icheck').each(function(){
            var $elem = $(this);
            if($elem.prop('checked')){
                $("#btn-edit").removeClass('disabled');
                $("#btn-remove").removeClass('disabled');
                $("#btn-detail").removeClass('disabled');
            }
        });        
    }
</script>
{% endblock %}