{% extends "main_layout.html" %}

{% block main_title %}
Modificar credenciales <small>(Administrador)</small>
{% endblock %}

{% block content  %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a href="#" ><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{user_form.usuario.id_for_label}}" class="control-label col-xs-3">USUARIO *</label>
                        <div class="col-xs-6">
                            {{user_form.usuario}}
                            {% if user_form.usuario.errors %}
                            <span class="text-danger">{{user_form.usuario.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{user_form.password1.id_for_label}}" class="control-label col-xs-3">CONTRASEÑA *</label>
                        <div class="col-xs-6">
                            {{user_form.password1}}
                            {% if user_form.password1.errors %}
                            <span class="text-danger">{{user_form.password1.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{user_form.password2.id_for_label}}" class="control-label col-xs-3">REPETIR CONTRASEÑA *</label>
                        <div class="col-xs-6">
                            {{user_form.password2}}
                            {% if user_form.password2.errors %}
                            <span class="text-danger">{{user_form.password2.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fingerprint" class="control-label col-xs-3">HUELLA DIGITAL</label>
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-fingerprint" id="show-finger-modal">
                                <i class="fas fa-fingerprint"></i>
                                Cargar huella
                            </button>
                            {{user_form.codigo_huella}}
                            {% if user_form.codigo_huella.errors %}
                            <span class="text-danger">{{user_form.codigo_huella.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-6">
                            <div class="pull-right">
                                <a href="{% url 'administrador.lista' %}" class="btn btn-default">
                                    <i class="fa fa-arrow-left"></i> Volver
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i> Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-fingerprint">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Cargar huella</h4>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-xs-12 text-center">
                  <span id="fingerprint-messages"></span>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
                    <div id="fingerprint-status" class="text-center">
                        <span class="fa-stack fa-4x" id="fingerprint-icon">
                          <i class="fas fa-fingerprint fa-stack-2x"></i>
                          <i class="fas fa-check fa-stack-2x hide" id="icon-correct" style="color: green"></i>
                          <i class="fas fa-close fa-stack-2x hide" id="icon-incorrect" style="color: red"></i>
                        </span>
                          <i class="fas fa-circle fa-3x"></i>
                          <i class="fas fa-circle fa-3x"></i>
                          <i class="fas fa-circle fa-3x"></i>
                          <i class="fas fa-circle fa-3x"></i>
                    </div>
              </div>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock  %}

{% block scripts %}
<script>
    $(function(){
        var ws;
        checkFingerPrintExistence();
        $("#modal-fingerprint").on("show.bs.modal", function(){
            openConnection();
        });

        $("#modal-fingerprint").on("hide.bs.modal", function(){
            closeConnection();
        });

        function openConnection(){
            ws = new WebSocket("ws://localhost:9090/finger/finger");
            ws.onopen = function(){
                console.log("ws connection open...");
                reset();
                var data = {
                    type: "prepare-register"
                };
                ws.send(JSON.stringify(data));
            };

            ws.onmessage = function(evt){
                var response = JSON.parse(evt.data);
                var type = response.type;
                //console.log(response);
                switch(type){
                    case 'reader-not-found':
                        $("#fingerprint-icon").addClass("text-danger");
                        $("#fingerprint-messages").addClass("text-danger").text(response.message);
                    break;
                    case 'fingerprint-success':
                        var checkNumber = response.remainder;
                        var totalCircles = 3;
                        $("#fingerprint-status>i").eq(totalCircles-response.remainder).toggleClass("fa-circle fa-check-circle");
                    break;
                    case 'register-success':
                        $("#fingerprint-icon #icon-correct").removeClass("hide");
                        $("#id_codigo_huella").val(response.template_data);
                        checkFingerPrintExistence();
                    break;
                    case 'bad-image':
                        $("#fingerprint-icon").addClass("text-danger");
                        $("#fingerprint-icon #icon-incorrect").removeClass("hide");
                        $("#fingerprint-messages").addClass("text-danger").text(response.message);
                        var $span_ref = $("<span> Cierre esta ventana para intentar nuevamente.</span>")
                        $("#fingerprint-messages").append($span_ref);
                        $("#id_codigo_huella").val("");
                        checkFingerPrintExistence();
                    break;
                }
            }

            ws.onclose = function(){
                console.log("ws connection closed");
            }
        }

        function closeConnection(){
            ws.close();
        }

        function reset(){
            $("#fingerprint-icon").removeClass("text-danger");
            $("#fingerprint-messages").removeClass("text-danger").text("");
            $("#fingerprint-status>i").removeClass("fa-check-circle").addClass("fa-circle");
            $("#fingerprint-status #icon-correct").addClass("hide");
            $("#fingerprint-status #icon-incorrect").addClass("hide");
        }

        function checkFingerPrintExistence(){
            var fingerprint = $("#id_codigo_huella").val();
            $("#show-finger-modal").find(".fa-check").remove();
            if(fingerprint.length>0){
                var $check = $("<i class='fas fa-check' style='color: red'></i>");
                $("#show-finger-modal").find("fa-check").remove();
                $("#show-finger-modal").append($check);
            }
        }
    });
</script>
{% endblock %}