{% extends "main_layout.html" %}

{% block styles%}
{% load static%}
<link href="{% static "vendors/iCheck/skins/flat/green.css" %}" rel="stylesheet">
{% endblock %}

{% block main_title %}
Reporte de automoviles
{% endblock %}

{% block content  %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Reporte</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a href="#" ><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-xs-3">
                        <form id="submit-report">
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Generar reporte</button>
                        </div>
                        <div class="form-group">
                            <input id="checkbox-1" type="checkbox" class='icheck' name="options" value="propietario">
                            <label for="checkbox-1">PROPIETARIO</label>
                        </div>
                        <div class="form-group">
                            <input id="checkbox-2" type="checkbox" class='icheck' name="options" value="marca">
                            <label for="checkbox-2">MARCA</label>
                        </div>
                        <div class="form-group">
                            <input id="checkbox-3" type="checkbox" class='icheck' name="options" value="tipo">
                            <label for="checkbox-3">TIPO</label>
                        </div>
                        <div class="form-group">
                            <input id="checkbox-4" type="checkbox" class='icheck' name="options" value="placa">
                            <label for="checkbox-4">PLACA</label>
                        </div>
                        <div class="form-group">
                            <input id="checkbox-5" type="checkbox" class='icheck' name="options" value="clase">
                            <label for="checkbox-5">CLASE</label>
                        </div>
                        <div class="form-group">
                            <input id="checkbox-6" type="checkbox" class='icheck' name="options" value="asientos">
                            <label for="checkbox-6">ASIENTOS</label>
                        </div>
                        <div class="form-group">
                            <input id="checkbox-7" type="checkbox" class='icheck' name="options" value="color">
                            <label for="checkbox-7">COLOR</label>
                        </div>
                        </form>
                    </div>
                    <div class="col-xs-9">
                        <iframe id="my-frame" src="{% url 'reporte.automovil.get' %}" width="100%" height="700px"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}

{% block scripts %}
{% load static %}
<script src="{% static "vendors/iCheck/icheck.min.js" %}"></script>
<script>
    $(function(){
        $('.icheck').iCheck({
            checkboxClass:"icheckbox_flat-green"
        });

        $("#submit-report").on("submit", function(e){
            e.preventDefault();
            $form = $(this);
            var url = "{% url 'reporte.automovil.get' %}?";
            url += $(this).serialize();
            $("#my-frame").attr('src', url);
        });
    });

</script>
{% endblock %}