{% extends "main_layout.html" %}

{% block styles%}
{% load static%}
<link href="{% static "vendors/iCheck/skins/flat/green.css" %}" rel="stylesheet">
<link href="{% static "vendors/daterangepicker/daterangepicker.css" %}" rel="stylesheet">
{% endblock %}

{% block main_title %}
Reporte de facturacion
{% endblock %}

{% block content  %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Reporte</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a href="#" ><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-xs-3">
                        <form id="submit-report">
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Generar reporte</button>
                        </div>

                        <div id="reportrange"
                             style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%; margin: 20px 0">
                            <i class="fa fa-calendar"></i>&nbsp;
                            <span></span> <i class="fa fa-caret-down"></i>
                        </div>

                        <input type="hidden" name="start_date" id="start_date">
                        <input type="hidden" name="end_date" id="end_date">

                        <div class="form-group">
                            <input id="checkbox-7" type="checkbox" class='icheck' name="options" value="fecha">
                            <label for="checkbox-7">FECHA</label>
                        </div>

                        <div class="form-group">
                            <input id="checkbox-1" type="checkbox" class='icheck' name="options" value="numero">
                            <label for="checkbox-1">NRO. FACTURA</label>
                        </div>
                        <div class="form-group">
                            <input id="checkbox-2" type="checkbox" class='icheck' name="options" value="lugar">
                            <label for="checkbox-2">LUGAR</label>
                        </div>
                        <div class="form-group">
                            <input id="checkbox-4" type="checkbox" class='icheck' name="options" value="nombre">
                            <label for="checkbox-4">NOMBRE</label>
                        </div>
                        <div class="form-group">
                            <input id="checkbox-5" type="checkbox" class='icheck' name="options" value="nit">
                            <label for="checkbox-5">NIT</label>
                        </div>
                        <div class="form-group">
                            <input id="checkbox-6" type="checkbox" class='icheck' name="options" value="telefono">
                            <label for="checkbox-6">TELF. CLIENTE</label>
                        </div>
                        <div class="form-group">
                            <input id="checkbox-8" type="checkbox" class='icheck' name="options" value="detalle">
                            <label for="checkbox-8">DETALLE</label>
                        </div>
                        <div class="form-group">
                            <input id="checkbox-9" type="checkbox" class='icheck' name="options" value="total">
                            <label for="checkbox-9">TOTAL</label>
                        </div>
                        </form>
                    </div>
                    <div class="col-xs-9">
                        <iframe id="my-frame" src="{% url 'reporte.facturacion.get' %}" width="100%" height="700px"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}

{% block scripts %}
{% load static %}
<script src="{% static "vendors/iCheck/icheck.min.js" %}"></script>
<script src="{% static "vendors/daterangepicker/moment.min.js" %}"></script>
<script src="{% static "vendors/daterangepicker/daterangepicker.js" %}"></script>
<script>
    $(function(){
        $('.icheck').iCheck({
            checkboxClass:"icheckbox_flat-green"
        });

        $("#submit-report").on("submit", function(e){
            e.preventDefault();
            var url = "{% url 'reporte.facturacion.get' %}?";
            url += $(this).serialize();

            $("#my-frame").attr('src', url);
        });

        $(function() {
            var start = moment();
            var end = moment();
            function cb(start, end) {
                $('#reportrange span').html(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
                $("#start_date").val(start.format('YYYY-MM-DD'));
                $("#end_date").val(end.format('YYYY-MM-DD'));
            }
            $('#reportrange').daterangepicker({
                 "locale": {
                    "separator": " - ",
                    "applyLabel": "Aplicar",
                    "cancelLabel": "Cancelar",
                    "fromLabel": "Desde",
                    "toLabel": "Hasta",
                    "customRangeLabel": "Elegir",
                    "daysOfWeek": [
                        "Do",
                        "Lu",
                        "Ma",
                        "Mie",
                        "Ju",
                        "Vi",
                        "Sa"
                    ],
                    "monthNames": [
                        "Enero",
                        "Febrero",
                        "Marzo",
                        "Abril",
                        "Mayo",
                        "Junio",
                        "Julio",
                        "Agosto",
                        "Septiembre",
                        "Octubre",
                        "Noviembre",
                        "Diciembre"
                    ],
                    "firstDay": 1
                },
                startDate: start,
                endDate: end,
                ranges: {
                   'Hoy': [moment(), moment()],
                   'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                   'Ultimos 7 dias': [moment().subtract(6, 'days'), moment()],
                   'Ultimos 30 dias': [moment().subtract(29, 'days'), moment()],
                   'Este mes': [moment().startOf('month'), moment().endOf('month')],
                   'Ultimo mes': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);
            cb(start, end);
        });
    });

</script>
{% endblock %}