{% extends "main_layout.html" %}

{% block styles%}
{% load static%}
<link href="{% static "vendors/iCheck/skins/flat/green.css" %}" rel="stylesheet">
<link href="{% static "vendors/daterangepicker/daterangepicker.css" %}" rel="stylesheet">
{% endblock %}

{% block main_title %}
Listado de ventas
{% endblock %}

{% block content  %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a href="#" ><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form id="submit-report">
                <div class="row">
                    <div class="col-xs-3">
                        <div id="reportrange"
                             style="background: #fff; cursor: pointer; padding: 5px 5px; border: 1px solid #ccc; width: 100%; margin: 5px 0">
                            <i class="fa fa-calendar"></i>&nbsp;
                            <span></span> <i class="fa fa-caret-down"></i>
                        </div>
                        <input type="hidden" name="fecha_inicio" id="start_date" value="{{inicio}}">
                        <input type="hidden" name="fecha_fin" id="end_date" value="{{fin}}">
                    </div>
                    <div class="col-xs-9">
                        <a href="#" class="btn btn-default pull-right" target="_blank" id="btn-report"><i class="fa fa-file-pdf-o"></i> Reporte</a>
                    </div>
                </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-striped jambo_table">
                        <thead>
                        <tr>
                            <th>FECHA</th>
                            <th>TIPO</th>
                            <th>CI</th>
                            <th>NOMBRE</th>
                            <th>ORIGEN</th>
                            <th>DESTINO</th>
                            <th>COSTO</th>
                            <th>OPCIONES</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in lista %}
                        <tr >
                            <td>{{item.fecha_hora|date:'d/m/Y H:i'}}</td>
                            <td>{{item.tipo}}</td>
                            <td>{{item.cliente.ci_nit}}</td>
                            <td>{{item.cliente.nombre}}</td>
                            <td>{{item.origen}}</td>
                            <td>{{item.destino}}</td>
                            <td><b>Bs. </b>{{item.total}}</td>
                            <td>
                                <a href="{% url 'ventas.detalle' pk=item.id %}" class="btn btn-default">Ver</a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">No se han encontrado elementos.</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}

{% block scripts %}
{% load static %}
<script src="{% static "vendors/iCheck/icheck.min.js" %}"></script>
<script src="{% static "vendors/daterangepicker/moment.min.js" %}"></script>
<script src="{% static "vendors/daterangepicker/daterangepicker.js" %}"></script>
<script>
    $(function(){
        $(".btn-ok").on("click", function(){
            if(!confirm("Esta seguro de que el paquete ha sido entregado"))
                return false;
        });

        $(function() {
            var start = moment($("#start_date").val());
            var end = moment($("#end_date").val());
            function cb(start, end) {
                $('#reportrange span').html(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
                $("#start_date").val(start.format('YYYY-MM-DD 00:00'));
                $("#end_date").val(end.format('YYYY-MM-DD 23:59'));
                var newUrl = '{% url "reporte.ventas.lista.get" %}?'
                newUrl += $("form").eq(0).serialize();
                $("#btn-report").attr("href", newUrl);
            }

            function cdpk(start, end){
                cb(start, end);
                $("form").submit();
            }

            $('#reportrange').daterangepicker({
                 "locale": {
                    "separator": " - ",
                    "applyLabel": "Aplicar",
                    "cancelLabel": "Cancelar",
                    "fromLabel": "Desde",
                    "toLabel": "Hasta",
                    "customRangeLabel": "Elegir",
                    "daysOfWeek": [
                        "Do",
                        "Lu",
                        "Ma",
                        "Mie",
                        "Ju",
                        "Vi",
                        "Sa"
                    ],
                    "monthNames": [
                        "Enero",
                        "Febrero",
                        "Marzo",
                        "Abril",
                        "Mayo",
                        "Junio",
                        "Julio",
                        "Agosto",
                        "Septiembre",
                        "Octubre",
                        "Noviembre",
                        "Diciembre"
                    ],
                    "firstDay": 1
                },
                startDate: start,
                endDate: end,
                ranges: {
                   'Hoy': [moment(), moment()],
                   'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                   'Ultimos 7 dias': [moment().subtract(6, 'days'), moment()],
                   'Ultimos 30 dias': [moment().subtract(29, 'days'), moment()],
                   'Este mes': [moment().startOf('month'), moment().endOf('month')],
                   'Ultimo mes': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cdpk);
            cb(start, end);
        });
    });
</script>
{% endblock %}