{% extends "main_layout.html" %}

{% block styles%}
{% load static%}
<link href="{% static "vendors/iCheck/skins/flat/green.css" %}" rel="stylesheet">
{% endblock %}

{% block main_title %}
Reporte de personas
{% endblock %}

{% block content  %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Reporte</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a href="#" ><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-xs-3">
                        <form id="submit-report" target="mi-frame" method="get">
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Generar reporte</button>
                        </div>
                        <div class="form-group">
                            <input id="checkbox-1" type="checkbox" class='icheck' value="ci" name="options">
                            <label for="checkbox-1">CI</label>
                        </div>
                        <div class="form-group">
                            <input id="checkbox-2" type="checkbox" class='icheck' value="nombres" name="options">
                            <label for="checkbox-2">NOMBRES</label>
                        </div>
                        <div class="form-group">
                            <input id="checkbox-3" type="checkbox" class='icheck'  value="apellidos" name="options">
                            <label for="checkbox-3">APELLIDOS</label>
                        </div>
                        <div class="form-group">
                            <input id="checkbox-4" type="checkbox" class='icheck' value="direccion" name="options">
                            <label for="checkbox-4">DIRECCION</label>
                        </div>
                        <div class="form-group">
                            <input id="checkbox-5" type="checkbox" class='icheck' value="telefono" name="options">
                            <label for="checkbox-5">TELEFONO</label>
                        </div>
                        <div class="form-group">
                            <input id="checkbox-6" type="checkbox" class='icheck' value="tipo" name="options">
                            <label for="checkbox-6">TIPO</label>
                        </div>
                        <div class="form-group">
                            <input id="checkbox-10" type="checkbox" class='icheck' value="estado" name="options">
                            <label for="checkbox-10">ESTADO</label>
                        </div>
                        <div class="form-group">
                            <input id="checkbox-11" type="checkbox" class='icheck' value="automovil" name="options">
                            <label for="checkbox-11">AUTOMOVIL</label>
                        </div>
                        </form>
                    </div>
                    <div class="col-xs-9">
                        <iframe id="my-frame" src="{% url 'reporte.personas.get' %}" width="100%" height="700px"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}

{% block scripts %}
{% load static %}
<script src="{% static "vendors/iCheck/icheck.min.js" %}"></script>
<script>
    $(function(){
        $('.icheck').iCheck({
            checkboxClass:"icheckbox_flat-green"
        });

        $("#submit-report").on("submit", function(e){
            e.preventDefault();
            var url = "{% url 'reporte.personas.get' %}?";
            url += $(this).serialize();

            $("#my-frame").attr('src', url);
        });
    });

</script>
{% endblock %}