{% extends "main_layout.html" %}

{% block styles%}
{% load static%}
<link href="{% static "vendors/fullcalendar/fullcalendar.min.css" %}" rel="stylesheet">
{% endblock %}

{% block main_title %}
Turnos
{% endblock %}

{% block content  %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <a href="{% url 'secretaria.lista' %}"><i class="fa fa-arrow-left"></i> Volver</a>
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a href="#" ><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-4">
                        <form id="form" action="{% url 'horario.mostrar' %}">
                            <div class="input-group">
                                <input type="text" class="form-control" id="ci" placeholder="Ingrese CI">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"> <i class="fa fa-search"></i> Buscar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div id="calendar"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="my-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Asignar</h4>
      </div>
      <form action="{% url 'asignacion.crear' %}" id="asignacion-form">
      <div class="modal-body">
          <div class="row">
              <div class="col-xs-12" id="error-message">

              </div>
          </div>
              <div class="form-group">
                  <div class="input-group">
                      <input type="text" class="form-control" disabled id="ci-secre">
                      <div class="input-group-addon">
                          <i class="fa fa-user"></i>
                      </div>
                  </div>
              </div>

              <div class="form-group">
                  <div class="input-group">
                      <input type="text" class="form-control" disabled id="date">
                      <input type="hidden" id="date-hidden">
                      <div class="input-group-addon">
                          <i class="fa fa-calendar"></i>
                      </div>
                  </div>
              </div>

              <div class="form-group">
                  <select class="form-control" id="horario">
                      {% for horario in horarios %}
                      <option value="{{horario.id}}">{{horario.turno}}</option>
                      {% endfor %}
                  </select>
              </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary"> <i class="fa fa-save"></i> Guardar</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock  %}

{% block scripts %}
{% load static %}
<script src="{% static 'vendors/fullcalendar/moment.min.js'%}"></script>
<script src="{% static 'vendors/fullcalendar/fullcalendar.min.js'%}"></script>
<script src="{% static 'vendors/fullcalendar/es.js'%}"></script>
<script>

    function fetchEvents( start, end, callback){
        var $form = $("#form");
        var url = $form.prop('action');
        var ci = $("#ci").val();
        $.ajax({
            url,
            data: {ci, inicio: start.format(), fin: end.format()},
            method: 'get',
            beforeSend: function(){
                $form.find(".message-search").remove();
                $form.find(".fa").removeClass('fa-search');
                $form.find(".fa").addClass('fa-spinner fa-pulse');
            },
            success: function(data){
                //console.log(data);
                if(data.success){
                    $form.append("<h4 class='message-search text-success'>"+ data.nombre +"</h4>");
                    callback(data.turnos);
                }else{
                    if(ci.length>0)
                        $form.append("<h4 class='message-search text-danger'>Sin datos encontrados</h4>");
                }
            },
            error: function(){
                if(ci.length>0)
                    $form.append("<h4 class='message-search text-danger'>Sin datos encontrados</h4>");
            },
            complete: function(){
                $form.find(".fa").removeClass('fa-spinner fa-pulse');
                $form.find(".fa").addClass('fa-search');
            }
        });
    }

    $("#form").on("submit", function(e){
        e.preventDefault();
        $("#calendar").fullCalendar( 'refetchEvents' );
    });

    $("#asignacion-form").on("submit", function(e){
        e.preventDefault();
        var ci = $("#ci-secre").val();
        var fecha = $("#date-hidden").val();
        var id_horario = $("#horario").val();
        $.ajax({
            url: $(this).prop("action"),
            data: {ci, fecha, id_horario},
            method: 'get',
            beforeSend: function(){
                $("#my-modal").find(".alert").remove();
            },
            success: function(data){
                console.log(data);
                if(data.success){
                    $('#my-modal').modal('hide');
                    $("#calendar").fullCalendar( 'refetchEvents' );
                }else{
                    var $alert = $("<div class='alert alert-danger'>" + data.message + "</div>");
                    $("#error-message").append($alert);
                }
            }
        });
        //alert("listo");
        //console.log(ci, fecha, id_horario);
    });

    $("#my-modal").on("hide.bs.modal", function(){
        $("#my-modal").find(".alert").remove();
    });

    $("#calendar").fullCalendar({
        locale: 'es',
        dayClick: function(date) {
            $message = $(".message-search.text-success");
            //console.log(date.format() >= moment().format("YYYY-MM-DD"));
            if($message.length && (date.format() >= moment().format("YYYY-MM-DD"))){
                var ci = $("#ci").val();
                var fecha = date.format();
                $("#ci-secre").val(ci);
                $("#date").val(date.format("LL"));
                $("#date-hidden").val(fecha);
                $('#my-modal').modal('show')
            }
        },
        events: function(start, end, timezone, callback){
            fetchEvents( start, end, callback);
        },
        eventClick: function(event){
            var id = event.id;
            if(confirm("Desea eliminar este turno?")){
                $.ajax({
                    url: "{% url 'asignacion.eliminar' %}",
                    method: 'get',
                    data: {id: id},
                    success: function(){
                        $("#calendar").fullCalendar( 'refetchEvents' );
                    }
                });
            }
        }
    });
</script>
{% endblock %}