{% extends "main_layout.html" %}

{% block styles%}
{% load static%}
{% endblock %}

{% block main_title %}
Delegar suplente
{% endblock %}

{% block content  %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a href="#" ><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <h4>Ingrese credenciales para realizar la suplencia</h4>
                <style>
                    .well{
                        cursor: pointer
                    }
                    .well-selected{
                        background: LightBlue
                    }
                </style>
                <form class="form-horizontal" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-3 col-xs-offset-2 well well-sm">
                            <div class="text-center"  style="margin-bottom: 10px">
                                <h4 style="margin-top: 0">{{current}}</h4>
                                <div class="fa-stack fa-5x">
                                    <i class="fas fa-fingerprint fa-stack-2x"></i>
                                </div>
                                {{form.current_user}}
                                {{form.current_huella}}
                                {{form.current_password}}
                                {% if form.current_password.errors %}
                                <span class="text-danger">{{form.current_password.errors|first}}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xs-3 col-xs-offset-2 well well-sm">
                            <div class="text-center"  style="margin-bottom: 10px;">
                                <h4 style="margin-top: 0">{{alt}}</h4>
                                <div class="fa-stack fa-5x">
                                    <i class="fas fa-fingerprint fa-stack-2x"></i>
                                </div>
                                {{form.alt_user}}
                                {{form.alt_huella}}
                                {{form.alt_password}}
                                {% if form.alt_password.errors %}
                                <span class="text-danger">{{form.alt_password.errors|first}}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    {{form.errors}}
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-6">
                            <a href="{% url 'secretaria.suplente' %}" class="btn btn-default"><i class="fa fa-arrow-left"></i> Volver</a>
                            <button type="submit" class="btn btn-primary pull-right">
                                <i class="fa fa-check"></i> Reemplazo
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock  %}

{% block scripts %}
{% load static %}
<script>
    $(function(){
        var alt_huella = $("#id_alt_huella").val();
        var current_huella = $("#id_current_huella").val();
        if(current_huella.length>0){
            $("#id_current_password").hide();
        }
        if(alt_huella.length>0){
            $("#id_alt_password").hide();
        }
    });

    $(function(){
        var ws;

        $('.well').on('click', function(){
            $(".well").removeClass('well-selected');
            $(this).addClass('well-selected');
            openConnection();
        });

        function openConnection(){
            closeConnection();
            var fingerprint = $(".well-selected").find("#id_current_huella, #id_alt_huella").eq(0).val();
            if(fingerprint){
                ws = new WebSocket("ws://localhost:9090/finger/finger");
                ws.onopen = function(){
                    console.log("ws connection open...");
                    var data = {
                        type: "prepare-verify",
                        data: fingerprint
                    };
                    ws.send(JSON.stringify(data));
                };

                ws.onmessage = function(evt){
                    var response = JSON.parse(evt.data);
                    var type = response.type;
                    //console.log(response);
                    switch(type){
                        case 'verify-response':
                            $(".well-selected .fa-stack").find("i.fa-check, i.fa-close").remove();
                            var success = response.success;
                            var $icon = $("<i class='fas fa-check fa-stack-1x' style='color:green'></i>").hide();
                            if(success){
                                $(".well-selected .fa-stack").append($icon);
                                $(".well-selected").find("#id_current_huella, #id_alt_huella").prop("disabled", false);
                                checkFormForSubmit();
                            }else{
                                $icon = $("<i class='fas fa-close fa-stack-1x' style='color:red'></i>").hide();
                                $(".well-selected .fa-stack").append($icon);
                                $(".well-selected").find("#id_current_huella, #id_alt_huella").prop("disabled", true);
                                openConnection();
                            }
                            $icon.show('fast');
                        break;
                    }
                }
            }
        }

        function closeConnection(){
            if(ws)
                ws.close();
        }

        function checkFormForSubmit(){
            var flag = true;
            $("form").find(".fa-stack").each(function(){
                var $item = $(this);
                if($item.find(".fa-check").length == 0)
                    flag = false;
            });
            if(flag)
                $("form").submit();
        }
    });
</script>
{% endblock %}