{% extends "main_layout.html" %}

{% block styles%}
{% load static%}
{% endblock %}

{% block main_title %}
Delegar suplente
{% endblock %}

{% block content  %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a href="#" ><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <h4>Ingrese usuario para suplencia</h4>
                <form class="form-horizontal" method="POST">
                    {% csrf_token %}
                    {{form.current_user_id}}
                    <div class="form-group">
                        <label for="{{form.usuario.id_for_label}}" class="control-label col-xs-3">USUARIO *</label>
                        <div class="col-xs-6">
                            {{form.usuario}}
                            {% if form.usuario.errors %}
                            <span class="text-danger">{{form.usuario.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-6">
                            <button type="submit" class="btn btn-primary pull-right">
                                <i class="fa fa-arrow-right"></i> Siguiente
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock  %}

{% block scripts %}
{% load static %}
{% endblock %}