{% extends "main_layout.html" %}

{% block styles%}
{% load static %}
<link href="{% static "vendors/iCheck/skins/flat/green.css" %}" rel="stylesheet">
<link href="{% static 'vendors/datatables/datatables.min.css' %}" rel="stylesheet">
{% endblock %}

{% block main_title %}
Estado de afiliados
{% endblock %}

{% block content  %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a href="#" ><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="message" class="alert alert-success fade in" role="alert">
                <strong>Exito!</strong> Los datos han sido guardados correctamente.
                </div>
                <div class="table-responsive">
                    <table class="table table-striped jambo_table" id="table">
                        <thead>
                        <tr>
                            <th>APELLIDOS</th>
                            <th>NOMBRES</th>
                            <th>CI</th>
                            <th>ESTADO</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for afili in object_list %}
                        <tr data-pk="{{afili.id}}">
                            <td>{{afili.usuario.persona.apellidos}}</td>
                            <td>{{afili.usuario.persona.nombres}}</td>
                            <td>{{afili.usuario.persona.ci}}</td>
                            <td>
                                <select class="form-control input-sm select-state">
                                    <option value="HABILITADO"  {% if 'HABILITADO' == afili.estado %} selected {% endif %} >HABILITADO</option>
                                    <option value="SIN ENVIOS" {% if 'SIN ENVIOS' == afili.estado %} selected {% endif %} >SIN ENVIOS</option>
                                    <option value="LICENCIA" {% if 'LICENCIA' == afili.estado %} selected {% endif %}>LICENCIA</option>
                                    <option value="SUSPENDIDO" {% if 'SUSPENDIDO' == afili.estado %} selected {% endif %}>SUSPENDIDO</option>
                                </select>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">No se han encontrado elementos.</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}

{% block scripts %}
{% load static %}
<script src="{% static "vendors/datatables/datatables.min.js" %}"></script>
<script>
    $(function(){
        $("#message").hide();
        $("#table").dataTable({
            "language": {
                "sProcessing":     "Procesando...",
                "sLengthMenu":     "Mostrar _MENU_ registros",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Ningún dato disponible en esta tabla",
                "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":    "",
                "sSearch":         "Buscar:",
                "sUrl":            "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":     "Último",
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        });
        $(".select-state").on("change", function(){
            $select = $(this);
            var id = $select.closest("tr").data("pk");
            var val = $select.val();
            $.ajax({
                url: "{% url 'afiliado.cambiar_estado' %}",
                data: {csrfmiddlewaretoken: "{{csrf_token}}",  pk: id, estado: val},
                method: 'post',
                success: function(data){
                    if(data.success){
                        $("#message").show();
                        setTimeout(function(){
                            $("#message").hide();
                        }, 3000);
                    }
                }
            });
        });
    });
</script>
{% endblock %}