<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SISRAPSUR</title>

    {% load static %}
    <!-- Bootstrap -->
    <link href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/font-awesome-5/css/all.min.css' %}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static 'vendors/nprogress/nprogress.css' %}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{% static 'assets/css/custom.min.css' %}" rel="stylesheet">

    <style>
      body{
        background: linear-gradient(to right bottom, #ecf267, #edf36d, #eef373, #eef478, #eff47e) !important;
        color: #400404 !important;
      }
      .separator {
          border-top: 1px solid white;
      }
    </style>
  </head>

  <body class="login">
    {% load static %}
    <div>
      <img src="{% static 'images/rapiditos_sur_logo.png'%}" alt="" class="img-rounded img-responsive" style="margin-left: auto; margin-right: auto">
    </div>
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper" style="margin: 0 auto">
        <div id="step-1">
          <section class="login_content">
            <form id="submit-username">
                
              <h1>Iniciar sesion</h1>
              <div style="margin-bottom:15px">
                <input id="username" type="text" class="form-control" placeholder="Usuario" required style="margin-bottom:5px"/>
              </div>
              <div>
                  <button type="submit" class="btn btn-default submit">Ingresar</button>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <div class="clearfix"></div>
                <div>
                  <h1><i class="fa fa-car"></i> SisRapSur</h1>
                  <p>©2018</p>
                </div>
              </div>
            </form>
          </section>
        </div>

        <div id="step-2">
          <section class="login_content">
            <form id="submit-form">
              <h1 style="margin-bottom: 10px">Verificar</h1>
              <div style="margin-bottom:5px">
                <span class="fa-stack fa-4x" id="finger-stack">
                    <i class="fas fa-fingerprint fa-stack-2x"></i>
                </span>
                <input style="margin-top: 5px" id="password" type="password" class="form-control input-sm" placeholder="O ingrese su clave..." required="" style="margin-bottom:5px"/>
              </div>
              <div >
                <button type="submit" class="btn btn-default submit">Ingresar</button>
                <button type="button" id="cancel-submit" class="btn btn-default submit">Cancelar</button>
              </div>
              <div class="clearfix"></div>

              <div class="separator">
                <div class="clearfix"></div>
                <br />
                <div>
                  <h1><i class="fa fa-car"></i> SisRapSur</h1>
                  <p>©2018</p>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>

    {% load static %}
    <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
    <script>
        $(function(){
            var step = 1;
            var ws;
            checkForm();
            $("#submit-username").on('submit', function(e){
                e.preventDefault();
                var username = $("#username").val();
                $.ajax({
                    url: "{% url 'main.checkuser' %}",
                    data: {csrfmiddlewaretoken: "{{csrf_token}}", username: username},
                    method: 'post',
                    beforeSend: function(){
                        $("span.text-danger").remove();
                    },
                    success: function(data){
                        if(data.success){
                            step = 2;
                            checkForm();
                            var fingerprint = data.codigo_huella || '';
                            if(fingerprint.length > 0){
                                openConnection(fingerprint);
                                $("#password").hide();
                            }else{
                                $("#password").show();
                            }
                        }else{
                            addMessage($("#username"), "Usuario no encontrado");
                        }
                    },
                    error: function(){
                        addMessage($("#username"), "Usuario no encontrado");
                    }
                });
            });

            $("#cancel-submit").on('click', function(e){
                e.preventDefault();
                step = 1;
                $("#password").val("");
                $("#finger-stack i.fa-check, #finger-stack i.fa-close").remove();
                if(ws)
                    closeConnection();
                checkForm();
            });

            $('#submit-form').on('submit', function(e){
                e.preventDefault();
                var username = $("#username").val();
                var password = $("#password").val();
                sendForm(username, password);
            });

            function checkForm(){
                if(step==1){
                    $('#step-1').show();
                    $('#step-2').hide();
                    $("#username").focus();
                }
                else{
                    $('#step-1').hide();
                    $('#step-2').show();
                    $("#password").focus();
                }
            }

            function addMessage($elem, text){
                $elem.parent().append($("<span>",{
                    class: 'text-danger',
                    text: text
                }));
            }

            function sendForm(username, password){
              $.ajax({
                  url: "{% url 'main.verifyuser' %}",
                  data: {csrfmiddlewaretoken: "{{csrf_token}}", username: username, password: password},
                  method: 'post',
                  beforeSend: function(){
                      $("span.text-danger").remove();
                      $(".fa-stack").find(".fa-close").remove();
                  },
                  success: function(data){
                      if(data.success){
                          window.location.assign('/');
                      }else{
                          addMessage($("#password"), data.message);
                          $(".fa-stack").append("<i class='fas fa-close fa-stack-1x' style='color: tomato'></i>");
                      }
                  },
                  error: function(){
                      addMessage($("#password"), "Credenciales incorrectas");
                      $(".fa-stack").append("<i class='fas fa-close fa-stack-1x' style='color: tomato'></i>");
                  }
              });
            }

            function openConnection(fingerprint){
                ws = new WebSocket("ws://localhost:9090/finger/finger");
                ws.onopen = function(){
                    console.log("ws connection open...");
                    var data = {
                        type: "prepare-verify",
                        data: fingerprint
                    };
                    ws.send(JSON.stringify(data));
                };

                ws.onmessage = function(evt){
                    var response = JSON.parse(evt.data);
                    var type = response.type;
                    //console.log(response);
                    switch(type){
                        case 'verify-response':
                            $("#finger-stack i.fa-check, #finger-stack i.fa-close").remove();
                            var success = response.success;
                            var username = $("#username").val();
                            var $icon = $("<i class='fas fa-check fa-stack-1x' style='color:green'></i>").hide();
                            if(success){
                                $("#finger-stack").append($icon);
                                sendForm(username, fingerprint);
                            }else{
                                $icon = $("<i class='fas fa-close fa-stack-1x' style='color:red'></i>").hide();
                                $("#finger-stack").append($icon);
                                closeConnection();
                                openConnection(fingerprint);
                            }
                            $icon.show('fast');
                        break;
                    }
                }

                ws.onclose = function(){
                    console.log("ws connection closed");
                }
            }

            function closeConnection(){
                ws.close();
            }
        });
    </script>
  </body>
</html>
