<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <!-- Bootstrap -->
    <link href="{% static "vendors/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static "vendors/font-awesome/css/font-awesome.min.css"%}" rel="stylesheet">
    <link href="{% static 'vendors/font-awesome-5/css/all.min.css' %}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static "vendors/nprogress/nprogress.css"%}" rel="stylesheet">
    <link href="{% static "vendors/datatables/datatables.min.css" %}" rel="stylesheet">

    {% block styles %}
    {% endblock %}
    <!-- Custom Theme Style -->
    <link href="{% static "assets/css/custom.min.css" %}" rel="stylesheet">

    <title>{% block title %}SISRAPSUR{% endblock %}</title>
    <style>
      body .container.body .right_col {
          background-image: url('{% static "assets/css/rapiditos_sur_tile.png" %}');
          background-repeat: round;
      }
    </style>
</head>

<body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="{% url 'main.home' %}" class="site_title"><i class="fa fa-car"></i> <span>SisRapSur</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="{% static "images/user.png" %}"  class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Bienvenido,</span>
                <h2>{{user.get_username}} {% if user.get_reemplazo%}  -> {{user.get_reemplazo.usuario}} {% endif %}</h2>
              </div>
              <div class="clearfix"></div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                {% if user.administrador %}
                <h3>ADMINISTRACION</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-users"></i> Usuarios <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'administrador.lista' %}">Administrador</a></li>
                      <li><a href="{% url 'secretaria.lista' %}">Secretaria</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-car"></i> Afiliados <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li>
                        <li><a href="{% url 'afiliado.lista' %}">Datos personales</a></li>
                      </li>
                      <li><a href="{% url 'automovil.lista' %}">Automoviles</a></li>
                      <li>
                        <a href="{% url 'afiliado.estado' %}">Estado</a>
                      </li>
                    </ul>
                  </li>
                  <li><a href="{% url 'horario.lista' %}"><i class="fa fa-clock-o"></i> Horarios</a></li>
                  <li><a href="{% url 'dosificacion.lista' %}"><i class="fa fa-money"></i> Dosificaciones (facturas)</a></li>
                  <li><a><i class="fa fa-users"></i> Reportes <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'reporte.personas' %}">Persona</a></li>
                      <li><a href="{% url 'reporte.automoviles' %}">Automoviles</a></li>
                      <li><a href="{% url 'reporte.ventas' %}">Ventas</a></li>
                      <li><a href="{% url 'reporte.envios' %}">Envios</a></li>
                      <li><a href="{% url 'reporte.facturacion' %}">Facturacion</a></li>
                      <li><a href="{% url 'reporte.faltas_atrasos' %}">Faltas y atrasos</a></li>
                    </ul>
                  </li>
                </ul>
                {% endif %}

                {% if user.secretaria %}
                <h3>VENTAS</h3>
                <ul class="nav side-menu">
                  <li><a href="{% url 'ventas.lista_conductores' %}"><i class="fa fa-car"></i> Lista de conductores</a></li>
                  <li><a href="{% url 'secretaria.suplente' %}"><i class="fa fa-exchange"></i> Delegar suplente</a></li>
                  <li><a><i class="fa fa-money"></i> Vender <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'ventas.boleto' %}">Pasajes</a></li>
                      <li><a href="{% url 'ventas.envio' %}">Envios</a></li>
                    </ul>
                  </li>
                  <li><a href="{% url 'lista.envios' %}"><i class="fa fa-inbox"></i> Entregas</a></li>
                  <li><a href="{% url 'reporte.ventas.lista' %}"><i class="fa fa-file"></i> Listado de ventas</a></li>
                </ul>
                {% endif %}
              </div>
            </div>
            <!-- /sidebar menu -->

          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="{% static "images/user.png" %}" alt="">{{user.get_username}}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="{% url 'main.logout' %}"><i class="fas fa-sign-out-alt pull-right"></i> Log Out</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>
                    {% block main_title %}
                        Titulo
                    {% endblock %}
                </h3>
              </div>

              <div class="title_right">
              </div>
            </div>

            <div class="clearfix"></div>

            {% block content %}
              aqui mi contenido
            {% endblock %}
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            &copy; 2018
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    {% load static %}
    <!-- jQuery -->
    <script src="{% static "vendors/jquery/jquery.min.js" %}"></script>
    <!-- Bootstrap -->
    <script src="{% static "vendors/bootstrap/js/bootstrap.min.js" %}"></script>
    <!-- FastClick -->
    <script src="{% static "vendors/fastclick/fastclick.js" %}"></script>
    <!-- NProgress -->
    <script src="{% static "vendors/nprogress/nprogress.js" %}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{% static "assets/js/custom.min.js" %}"></script>
    <script >
    $(function(){
      $('.only-letters').on('keypress', function(e){
        var code = e.key;
        if(!((code >= 'A' && code <= 'Z')||(code>='a'&&code<='z') || code==' ' || code=='ñ' || code == 'Ñ'))
          e.preventDefault();
      });

      $('.only-numbers').on('keypress', function(e){
        var code = e.key;
        if(isNaN(code) && code != 'ArrowLeft' && code != 'ArrowRight' && code != 'Backspace' && code != 'Tab')
          e.preventDefault();
      });

      $('.upper').on('keyup', function(e){
        var $input = $(this);
        var value = $input.val();
        $input.val(value.toUpperCase());
      });

    });
    </script>
    {% block scripts %}
    {% endblock %}
</body>
</html>