{% extends "main_layout.html" %}

{% block main_title %}
Venta (
    {% if object.boleto %}
        <small>Boleto</small>
    {% else %}
        <small>Envio</small>
    {% endif %}
)
{% endblock %}

{% block content  %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a href="#" ><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-hovered">
                    <tbody>
                        <tr>
                            <th style="text-align:right" width="30%">
                                FECHA Y HORA
                            </th>
                            <td style="text-align: left">
                                {{object.fecha_hora|date:'d/m/Y H:i'}}
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align:right" width="30%">
                                ORIGEN
                            </th>
                            <td style="text-align: left">
                                {{object.origen}}
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align:right" width="30%">
                                DESTINO
                            </th>
                            <td style="text-align: left">
                                {{object.destino}}
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2" style="text-align:center">DATOS DE CONDUCTOR</th>
                        </tr>
                        <tr>
                            <th style="text-align:right" width="30%">
                                NOMBRE
                            </th>
                            <td style="text-align: left">
                                {{object.lista.afiliado.usuario.persona.nombres}} {{object.lista.afiliado.usuario.persona.apellidos}}
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align:right" width="30%">
                                CI
                            </th>
                            <td style="text-align: left">
                                {{object.lista.afiliado.usuario.persona.ci}}
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: right" width="30%">
                                PLACA VEHICULO
                            </th>
                            <td style="text-align: left">
                                {{object.lista.automovil.placa}}
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2" style="text-align:center">DATOS DE CLIENTE</th>
                        </tr>
                        <tr>
                            <th style="text-align:right" width="30%">
                                CI/NIT
                            </th>
                            <td style="text-align: left">
                                {{object.cliente.ci_nit}}
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align:right" width="30%">
                                NOMBRE
                            </th>
                            <td style="text-align: left">
                                {{object.cliente.nombre}}
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: right" width="30%">
                                TELEFONO
                            </th>
                            <td style="text-align: left">
                                {{object.cliente.cel}}
                            </td>
                        </tr>
                        {% if object.envio %}
                        <tr>
                            <th colspan="2" style="text-align:center">
                                DATOS DE ENVIO
                            </th>
                        </tr>
                        <tr>
                            <th style="text-align:right" width="30%">CI DE CONSIGNATARIO</th>
                            <td>{{object.envio.ci_consignatario}}</td>
                        </tr>
                        <tr>
                            <th style="text-align:right" width="30%">NOMBRE</th>
                            <td>{{object.envio.nombre_consignatario}}</td>
                        </tr>
                        <tr>
                            <th style="text-align:right" width="30%">TELEFONO</th>
                            <td>{{object.envio.telefono_consignatario}}</td>
                        </tr>
                        <tr>
                            <th style="text-align:right" width="30%">CANTIDAD</th>
                            <td>{{object.envio.cantidad}}</td>
                        </tr>
                        <tr>
                            <th style="text-align:right" width="30%">TIPO</th>
                            <td>{{object.envio.tipo}}</td>
                        </tr>
                        <tr>
                            <th style="text-align:right" width="30%">DETALLE</th>
                            <td>{{object.envio.detalle}}</td>
                        </tr>
                        {% else %}
                        <tr>
                            <th colspan="2" style="text-align:center">
                                DATOS DE VENTA
                            </th>
                        </tr>
                        <tr>
                            <th style="text-align:right" width="30%">PLAZAS</th>
                            <td>{{object.boleto.plazas}}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th colspan="2" style="text-align:right">
                                TOTAL: <b>Bs.</b> {{object.total}}
                            </th>
                        </tr>
                    </tbody>
                </table>

                <div class="text-center">
                {% if object.boleto %}
                    <a href="{% url 'reporte.boleto' pk=object.id %}" class="btn btn-default" target="_blank"><i class="fa fa-file-text"></i> Boleto</a>
                {% else %}
                    <a href="{% url 'reporte.envio' pk=object.id %}" class="btn btn-default" target="_blank"><i class="fa fa-file-text"></i> Comprobante</a>
                {% endif %}
                    {% if not object.factura %}
                        <a href="{% url 'factura.mostrar' pk=object.id %}" target="_blank" class="btn btn-default"><i class="fa fa-money"></i> Factura</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}

{% block scripts %}
{% endblock %}