{% extends "main_layout.html" %}

{% block styles%}
{% load static%}
<link href="{% static "vendors/iCheck/skins/flat/green.css" %}" rel="stylesheet">
{% endblock %}

{% block main_title %}
Listado de dosificaciones
{% endblock %}

{% block content  %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a href="#" ><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <a href="{% url 'dosificacion.crear' %}" class="btn btn-primary"><i class="fa fa-plus"></i> Nuevo</a>

                <div class="table-responsive">
                    <table class="table table-striped jambo_table">
                        <thead>
                        <tr>
                            <th>LUGAR</th>
                            <th>FECHA LIMITE</th>
                            <th>NRO. INICIAL</th>
                            <th>NRO. FINAL</th>
                            <th>NRO AUTORIZACION</th>
                            <th>LLAVE DOSIFICACION</th>
                            <th>VIGENTE</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in dosificaciones %}
                        <tr data-pk="{{item.id}}">
                            <td>{{item.lugar.nombre}}</td>
                            <td>{{item.fecha_limite|date:'d/m/Y'}}</td>
                            <td>{{item.factura_inicio}}</td>
                            <td>{{item.factura_fin}}</td>
                            <td>{{item.codigo_autorizacion}}</td>
                            <td>{{item.llave}}</td>
                            <td><input type="checkbox" class="icheck" {% if item.activo %}checked{%endif%} ></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7">No se han encontrado elementos.</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}

{% block scripts %}
{% load static %}
<script src="{% static "vendors/iCheck/icheck.min.js" %}"></script>
<script>
    $(function(){
        $('.icheck').iCheck({
            checkboxClass:"icheckbox_flat-green"
        });

        $('.icheck').on('ifToggled', function(e){
            var $check = $(e.target);
            var vigente = 'n';
            var pk = $check.closest("tr").data("pk");
            if($check.prop('checked')){
                vigente = 's';
            }
            $.ajax({
                url: "{% url 'dosificacion.cambiar' %}",
                method: 'get',
                data: {vigente, pk},
                success: function(e){
                    window.location.assign("{% url 'dosificacion.lista' %}")
                }
            });
        });
    });
</script>
{% endblock %}