{% extends "main_layout.html" %}

{% block styles %}
{% load static%}
<link href="{% static "vendors/datepicker/bootstrap-datepicker3.min.css" %}" rel="stylesheet">
{% endblock %}

{% block main_title %}
Agregar afiliado a la lista
{% endblock %}

{% block content  %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a href="#" ><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{form.lugar.id_for_label}}" class="control-label col-xs-3">LUGAR *</label>
                        <div class="col-xs-6">
                            {{form.lugar}}
                            {% if form.lugar.errors %}
                            <span class="text-danger">{{form.lugar.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{form.fecha_limite.id_for_label}}" class="control-label col-xs-3">FECHA LIMITE DE EMISION *</label>
                        <div class="col-xs-6">
                            {{form.fecha_limite}}
                            {% if form.fecha_limite.errors %}
                            <span class="text-danger">{{form.fecha_limite.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="{{form.fecha_limite2.id_for_label}}" class="control-label col-xs-3">FECHA LIMITE DE EMISION (REP.) *</label>
                        <div class="col-xs-6">
                            {{form.fecha_limite2}}
                            {% if form.fecha_limite2.errors %}
                            <span class="text-danger">{{form.fecha_limite2.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="{{form.factura_inicio.id_for_label}}" class="control-label col-xs-3">FACTURA INICIAL *</label>
                        <div class="col-xs-6">
                            {{form.factura_inicio}}
                            {% if form.factura_inicio.errors %}
                            <span class="text-danger">{{form.factura_inicio.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="{{form.factura_inicio2.id_for_label}}" class="control-label col-xs-3">FACTURA INICIAL (REP.) *</label>
                        <div class="col-xs-6">
                            {{form.factura_inicio2}}
                            {% if form.factura_inicio2.errors %}
                            <span class="text-danger">{{form.factura_inicio2.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="{{form.factura_fin.id_for_label}}" class="control-label col-xs-3">FACTURA FINAL *</label>
                        <div class="col-xs-6">
                            {{form.factura_fin}}
                            {% if form.factura_fin.errors %}
                            <span class="text-danger">{{form.factura_fin.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="{{form.factura_fin2.id_for_label}}" class="control-label col-xs-3">FACTURA FINAL (REP.) *</label>
                        <div class="col-xs-6">
                            {{form.factura_fin2}}
                            {% if form.factura_fin2.errors %}
                            <span class="text-danger">{{form.factura_fin2.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="{{form.codigo_autorizacion.id_for_label}}" class="control-label col-xs-3">AUTORIZACION *</label>
                        <div class="col-xs-6">
                            {{form.codigo_autorizacion}}
                            {% if form.codigo_autorizacion.errors %}
                            <span class="text-danger">{{form.codigo_autorizacion.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="{{form.codigo_autorizacion2.id_for_label}}" class="control-label col-xs-3">AUTORIZACION (REP.) *</label>
                        <div class="col-xs-6">
                            {{form.codigo_autorizacion2}}
                            {% if form.codigo_autorizacion2.errors %}
                            <span class="text-danger">{{form.codigo_autorizacion2.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="{{form.llave.id_for_label}}" class="control-label col-xs-3">LLAVE DE DOSIFICACION *</label>
                        <div class="col-xs-6">
                            {{form.llave}}
                            {% if form.llave.errors %}
                            <span class="text-danger">{{form.llave.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="{{form.llave2.id_for_label}}" class="control-label col-xs-3">LLAVE DE DOSIFICACION (REP.) *</label>
                        <div class="col-xs-6">
                            {{form.llave2}}
                            {% if form.llave2.errors %}
                            <span class="text-danger">{{form.llave2.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-6">
                            <div class="pull-right">
                                <a href="{% url 'dosificacion.lista' %}" class="btn btn-default">
                                    <i class="fa fa-arrow-left"></i> Volver
                                </a>
                                <button type="submit" class="btn btn-primary pull-right">
                                    <i class="fa fa-save"></i> Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>
{% endblock  %}

{% block scripts %}
    {% load static%}
    <script src="{% static "vendors/datepicker/bootstrap-datepicker.min.js" %}"></script>
    <script src="{% static "vendors/datepicker/bootstrap-datepicker.es.min.js" %}"></script>
    <script>
        $(function(){
            $('.datepicker').datepicker({startDate: 'now', language: 'es'});
        });
    </script>
{% endblock %}