{% extends "main_layout.html" %}

{% block styles%}
{% load static%}
<link href="{% static "vendors/iCheck/skins/flat/green.css" %}" rel="stylesheet">
{% endblock %}

{% block main_title %}
Entrega de encomiendas
{% endblock %}

{% block content  %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a href="#" ><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-xs-offset-4 col-xs-4 text-center">
                        <form method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="CI, nombre consig. o Nro. Guia"  name="ci" value="{{ci}}">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-search"></i> Buscar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped jambo_table">
                        <thead>
                        <tr>
                            <th>GUIA</th>
                            <th>CI</th>
                            <th>NOMBRE</th>
                            <th>FECHA</th>
                            <th>DESTINO</th>
                            <th>TIPO</th>
                            <th>CANTIDAD</th>
                            <th>COSTO</th>
                            <th>OPCIONES</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in lista %}
                        <tr >
                            <td>{{item.nro_guia}}</td>
                            <td>{{item.ci_consignatario}}</td>
                            <td>{{item.nombre_consignatario}}</td>
                            <td>{{item.venta.fecha_hora|date:'d/m/Y H:i'}}</td>
                            <td>{{item.venta.destino}}</td>
                            <td>{{item.tipo}}</td>
                            <td>{{item.cantidad}}</td>
                            <td><b>Bs. </b>{{item.venta.total}} ({{item.tipo_pago}})</td>
                            <td>
                                {% if item.recibido %}
                                <a href="{% url 'ventas.detalle' pk=item.venta.id %}" class="btn btn-default">Ver</a>
                                {% else %}
                                <a href="{% url 'envio.recibido' pk=item.id %}" class="btn btn-default btn-ok"><i class="fa fa-check"></i> Entregar</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">No se han encontrado elementos.</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}

{% block scripts %}
{% load static %}
<script src="{% static "vendors/iCheck/icheck.min.js" %}"></script>
<script>
    $(function(){
        $(".btn-ok").on("click", function(){
            if(!confirm("Esta seguro de que el paquete ha sido entregado"))
                return false;
        });
    });
</script>
{% endblock %}