{% extends "main_layout.html" %}

{% block styles %}
{% endblock %}

{% block main_title %}
Agregar afiliado a la lista
{% endblock %}

{% block content  %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <a href="{% url 'ventas.lista_conductores'%}" ><i class="fa fa-arrow-left"></i> Volver</a>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a href="#" ><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal" method="POST">
                    {% csrf_token %}
                    <div class="form-group" id="username">
                        <label for="{{form.usuario.id_for_label}}" class="control-label col-xs-3">USUARIO *</label>
                        <div class="col-xs-6">
                            {{form.usuario}}
                            {% if form.usuario.errors %}
                            <span class="text-danger">{{form.usuario.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="text-center" id="finger-panel" style="margin-bottom: 5px">
                        <span class="fa-stack fa-4x" id="finger-stack">
                            <i class="fas fa-fingerprint fa-stack-2x"></i>
                        </span>
                    </div>

                    <div class="form-group" id="clave">
                        <label for="{{form.clave.id_for_label}}" class="control-label col-xs-3">PASSWORD *</label>
                        <div class="col-xs-6">
                            <input type="hidden" name="clave" disabled>
                            {{form.clave}}
                            {{form.huella}}
                            {% if form.clave.errors %}
                            <span class="text-danger">{{form.clave.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group" id="destino">
                        <label for="{{form.destino.id_for_label}}" class="control-label col-xs-3">DESTINO *</label>
                        <div class="col-xs-6">
                            {{form.destino}}
                            {% if form.destino.errors %}
                            <span class="text-danger">{{form.destino.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-6">
                            <a href="{% url 'ventas.lista_conductores'%}" class="btn btn-default" id="btn-close"><i class="fa fa-arrow-left"></i> Volver</a>
                            <button type="button" class="btn btn-default" id="btn-cancel">
                                <i class="fa fa-close"></i> Cancelar
                            </button>
                            <button type="button" class="btn btn-primary pull-right" id="btn-next">
                                <i class="fa fa-arrow-right"></i> Siguiente
                            </button>
                            <button type="submit" class="btn btn-primary pull-right" id="btn-submit">
                                <i class="fa fa-check"></i> Ingresar
                            </button>
                        </div>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>
{% endblock  %}

{% block scripts %}
    {% load static %}
    <script>
        $(function(){
            var ws;
            {% if form.clave.errors %}
                showCredentials();
            {% else %}
                showUsername();
            {% endif %}

            $("#id_usuario").keypress(function(e){
                if(e.keyCode==13)
                    e.preventDefault();
            });

            $("#btn-next").on("click", function(e){
                if($("#username").find("input").val().length > 0){
                    var usuario = $("#username").find("input").eq(0).val();
                    $.ajax({
                        url: '{% url "lista.get_usuario" %}',
                        method: 'get',
                        data: {usuario},
                        beforeSend: function(){
                            $("form").find("span.text-danger").remove();
                            $("#clave input").val("");
                        },
                        success: function(data){
                            if(data.success){
                                var fingerprint = data.codigo_huella;
                                $("#id_huella").val(fingerprint);
                                showCredentials();
                            }else{
                                closeConnection();
                                var $error = $("<span>", {
                                    'class': 'text-danger',
                                    'text': data.message
                                });
                                $("#username").find("div").append($error);
                            }
                        },
                        error: function(){
                            closeConnection();
                            var $error = $("<span>", {
                                'class': 'text-danger',
                                'text': 'Un error ha ocurrido.'
                            });
                            $("#username").find("div").append($error);
                        }
                    });

                }
            });

            $("#btn-cancel").on("click", function(){
                showUsername();
            });

            function showUsername(){
                $("#username, #destino, #btn-next, #btn-close").show();
                $("#clave, #btn-submit, #btn-cancel, #finger-panel").hide();
                closeConnection();
                $("#id_clave").show();
                $("#id_clave").closest(".form-group").find("label").show();
                //$("form").find("span.text-danger").remove();
            }

            function showCredentials(){
                $("#username, #destino, #btn-next, #btn-close").hide();
                $("#clave, #btn-submit, #btn-cancel, #finger-panel").show();
                var fingerprint = $("#id_huella").val();
                if(fingerprint){
                    openConnection(fingerprint);
                    $("#id_clave").hide();
                    $("#id_clave").closest(".form-group").find("label").hide();
                }

                //$("form").find("span.text-danger").remove();
            }

            function openConnection(fingerprint){
                ws = new WebSocket("ws://localhost:9090/finger/finger");
                ws.onopen = function(){
                    console.log("ws connection open...");
                    var data = {
                        type: "prepare-verify",
                        data: fingerprint
                    };
                    ws.send(JSON.stringify(data));
                };

                ws.onmessage = function(evt){
                    var response = JSON.parse(evt.data);
                    var type = response.type;
                    //console.log(response);
                    switch(type){
                        case 'verify-response':
                            $("#finger-stack i.fa-check, #finger-stack i.fa-close").remove();
                            var success = response.success;
                            var $icon = $("<i class='fas fa-check fa-stack-1x' style='color:green'></i>").hide();
                            if(success){
                                $("#finger-stack").append($icon);
                                $("#id_huella").prop("disabled", false);
                                $("form").submit();
                            }else{
                                $icon = $("<i class='fas fa-close fa-stack-1x' style='color:red'></i>").hide();
                                $("#finger-stack").append($icon);
                                closeConnection();
                                openConnection(fingerprint);
                            }
                            $icon.show('fast');
                        break;
                    }
                }

                ws.onclose = function(){
                    console.log("ws connection closed");
                }
            }

            function closeConnection(){
                if(ws)
                    ws.close();
            }
        });
    </script>
{% endblock %}