{% extends "main_layout.html" %}

{% block styles%}
{% load static%}
<link href="{% static "vendors/iCheck/skins/flat/green.css" %}" rel="stylesheet">
{% endblock %}

{% block main_title %}
Listado de conductores
{% endblock %}

{% block content  %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a href="#" ><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <a href="{% url 'lista.agregar' %}" class="btn btn-primary"><i class="fa fa-plus"></i> Agregar</a>
                        <div class="btn-group" style="margin-bottom: 5px">
                            <button id="btn-up" type="button" class="btn btn-default"><i class="fa fa-arrow-up"></i></button>
                            <button id="btn-down" type="button" class="btn btn-default"><i class="fa fa-arrow-down"></i></button>
                            <button id="btn-ready" type="button" class="btn btn-default" data-url="{% url 'lista.cargar' %}"><i class="fa fa-check"></i> Cargado</button>
                            <button id="btn-remove" type="button" class="btn btn-default"><i class="fa fa-trash"></i> Eliminar</button>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped jambo_table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>CONDUCTOR</th>
                            <th>PLACA</th>
                            <th>DESTINO</th>
                            <th>HORA INGRESO</th>
                            <th>HORA SALIDA</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in conductores %}
                        <tr data-active="{% if item.activo == True %}1{% else %}0{% endif %}"
                            data-order="{{item.orden}}"
                            data-remove="{% url 'lista.delete' pk=item.pk %}"
                            data-pk="{{item.id}}"
                        >
                            <td>
                                <input type="checkbox" class="icheck" {% if item.activo == False %} disabled {% endif %}>
                            </td>
                            <td>{{ item.afiliado.usuario.persona.nombres }} {{ item.afiliado.usuario.persona.apellidos }}</td>
                            <td>{{ item.automovil.placa }}</td>
                            <td>{{ item.destino }}</td>
                            <td>{{ item.hora_entrada }}</td>
                            <td>{{ item.hora_salida }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7">No se han encontrado elementos.</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}

{% block scripts %}
{% load static %}
<script src="{% static "vendors/iCheck/icheck.min.js" %}"></script>
<script>
    $(function(){
        checkTableStatus();

        $('.icheck').iCheck({
            checkboxClass:"icheckbox_flat-green"
        });

        $('.icheck').on('ifToggled', function(e){
            var $check = $(e.target);
            if($check.prop('checked')){
                $('.icheck').not($check).iCheck('uncheck');
            }
            checkTableStatus();
        });

        $("#btn-up").on("click", function(){
            var $btn = $(this);
            var $selectedRow = $('.icheck:checked').first().closest("tr");
            $prev = $selectedRow.prev();
            if($prev && $prev.data("active")){
                var up = $prev.data("pk");
                var down = $selectedRow.data("pk");
                var datos = [ up, down ];
                //console.log(datos);
                $.ajax({
                    url: '{% url "lista.orden" %}',
                    data: {csrfmiddlewaretoken: "{{csrf_token}}", "datos": datos },
                    method: 'post',
                    success: function(data){
                        $prev.before($selectedRow);
                        checkTableStatus();
                    }
                });
            }
        });

        $("#btn-down").on("click", function(){
            var $btn = $(this);
            var $selectedRow = $('.icheck:checked').first().closest("tr");
            $next = $selectedRow.next();
            if($next && $next.data("active")){
                var up = $selectedRow.data("pk")
                var down = $next.data("pk");
                var datos = [ up, down ];
                $.ajax({
                    url: '{% url "lista.orden" %}',
                    data: {csrfmiddlewaretoken: "{{csrf_token}}", "datos": datos },
                    method: 'post',
                    success: function(data){
                        $next.after($selectedRow);
                        checkTableStatus();
                    }
                });
            }
        });

        $("#btn-ready").on('click', function(){
            var $selectedRow = $('.icheck:checked').first().closest("tr");
            if($selectedRow.length == 0)
                return false;
            if(!confirm("Esta seguro de que el vehiculo se encuentra cargado?"))
                return false;
            var url = $(this).data('url');
            var pk = $selectedRow.data("pk");
            $.ajax({
                url: url,
                data: {csrfmiddlewaretoken: "{{csrf_token}}", pk: pk },
                method: 'post',
                success: function(data){
                    window.location.reload();
                }
            });
        });

        $("#btn-remove").on('click', function(e){
            e.preventDefault();
            var $selectedRow = $('.icheck:checked').first().closest("tr");
            if($selectedRow.length>0 && confirm("Esta seguro de eliminar el item de la lista?"))
                window.location.assign($selectedRow.data("remove"));
        });

        function checkTableStatus(){
            $("#btn-up").addClass('disabled').prop('disabled', true);
            $("#btn-down").addClass('disabled').prop('disabled', true);
            $("#btn-ready").addClass('disabled').prop('disabled', true);
            $("#btn-remove").addClass('disabled').prop('disabled', true);
            $('.icheck').each(function(){
                var $elem = $(this);
                if($elem.prop('checked')){
                    $("#btn-up").removeClass('disabled').prop('disabled', false);
                    $("#btn-down").removeClass('disabled').prop('disabled', false);

                    $row = $elem.closest("tr");
                    var destino = $row.find("td").eq(3).text();
                    $prev = $row.prev();
                    var flag = true;
                    while($prev.length>0){
                        if($prev.find("td:nth-child(4):contains('"+destino+"')").length > 0){
                            if($prev.data("active"))
                                flag = false;
                            else
                                flag = true;
                            break;
                        }
                        $prev = $prev.prev();
                    }
                    if( flag ){
                        $("#btn-ready").removeClass('disabled').prop('disabled', false);
                        $("#btn-remove").addClass('disabled').prop('disabled', true);
                    }else{
                        $("#btn-ready").addClass('disabled').prop('disabled', true);
                        $("#btn-remove").removeClass('disabled').prop('disabled', false);
                    }
                }
            });
        }
    });
</script>
{% endblock %}