{% extends "main_layout.html" %}

{% block styles %}
{% load static%}

{% endblock %}

{% block main_title %}
Envios
{% endblock %}

{% block content  %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a href="#" ><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
            <form class="form-horizontal" method="POST">
                {% csrf_token %}
                <span class="section">Informacion de remitente</span>
                <div class="form-group">
                    <label for="{{cliente_form.ci_nit.id_for_label}}" class="control-label col-xs-3">CI / NIT *</label>
                    <div class="col-xs-6">
                        <div class="input-group">
                            {{cliente_form.ci_nit}}
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary" id="btn-search">
                                    <i class="fa fa-search"></i> Buscar
                                </button>
                            </div>
                        </div>
                        {% if cliente_form.ci_nit.errors %}
                        <span class="text-danger">{{cliente_form.ci_nit.errors|first}}</span>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{cliente_form.nombre.id_for_label}}" class="control-label col-xs-3">NOMBRE *</label>
                    <div class="col-xs-6">
                        {{cliente_form.nombre}}
                        {% if cliente_form.nombre.errors %}
                        <span class="text-danger">{{cliente_form.nombre.errors|first}}</span>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{cliente_form.cel.id_for_label}}" class="control-label col-xs-3">TELEFONO *</label>
                    <div class="col-xs-6">
                        {{cliente_form.cel}}
                        {% if cliente_form.cel.errors %}
                        <span class="text-danger">{{cliente_form.cel.errors|first}}</span>
                        {% endif %}
                    </div>
                </div>

                <span class="section">Informacion de consignatario</span>

                <div class="form-group">
                    <label for="{{envio_form.ci_consignatario.id_for_label}}" class="control-label col-xs-3">CI *</label>
                    <div class="col-xs-6">
                        {{envio_form.ci_consignatario}}
                        {% if envio_form.ci_consignatario.errors %}
                        <span class="text-danger">{{envio_form.ci_consignatario.errors|first}}</span>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{envio_form.nombre_consignatario.id_for_label}}" class="control-label col-xs-3">NOMBRE *</label>
                    <div class="col-xs-6">
                        {{envio_form.nombre_consignatario}}
                        {% if envio_form.nombre_consignatario.errors %}
                        <span class="text-danger">{{envio_form.nombre_consignatario.errors|first}}</span>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{envio_form.telefono_consignatario.id_for_label}}" class="control-label col-xs-3">TELEFONO *</label>
                    <div class="col-xs-6">
                        {{envio_form.telefono_consignatario}}
                        {% if envio_form.telefono_consignatario.errors %}
                        <span class="text-danger">{{envio_form.telefono_consignatario.errors|first}}</span>
                        {% endif %}
                    </div>
                </div>

                <span class="section">Informacion de envio</span>

                <div class="form-group">
                    <label for="{{venta_form.origen.id_for_label}}" class="control-label col-xs-3">ORIGEN *</label>
                    <div class="col-xs-6">
                        {{venta_form.origen}}
                        {% if venta_form.origen.errors %}
                        <span class="text-danger">{{venta_form.origen.errors|first}}</span>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{venta_form.destino.id_for_label}}" class="control-label col-xs-3">DESTINO *</label>
                    <div class="col-xs-6">
                        {{venta_form.destino}}
                        {% if venta_form.destino.errors %}
                        <span class="text-danger">{{venta_form.destino.errors|first}}</span>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{envio_form.cantidad.id_for_label}}" class="control-label col-xs-3">CANTIDAD *</label>
                    <div class="col-xs-6">
                        {{envio_form.cantidad}}
                        {% if envio_form.cantidad.errors %}
                        <span class="text-danger">{{envio_form.cantidad.errors|first}}</span>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{envio_form.tipo.id_for_label}}" class="control-label col-xs-3">TIPO *</label>
                    <div class="col-xs-6">
                        {{envio_form.tipo}}
                        {% if envio_form.tipo.errors %}
                        <span class="text-danger">{{envio_form.tipo.errors|first}}</span>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{envio_form.detalle.id_for_label}}" class="control-label col-xs-3">DETALLE *</label>
                    <div class="col-xs-6">
                        {{envio_form.detalle}}
                        {% if envio_form.detalle.errors %}
                        <span class="text-danger">{{envio_form.detalle.errors|first}}</span>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{envio_form.tipo_pago.id_for_label}}" class="control-label col-xs-3">PAGO *</label>
                    <div class="col-xs-6">
                        {% for radio in envio_form.tipo_pago %}
                        <div class="radio">
                            {{radio}}
                        </div>
                        {% endfor %}
                        {% if envio_form.tipo_pago.errors %}
                        <span class="text-danger">{{envio_form.tipo_pago.errors|first}}</span>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="{{venta_form.total.id_for_label}}" class="control-label col-xs-3">PRECIO *</label>
                    <div class="col-xs-6">
                        {{venta_form.total}}
                        {% if venta_form.total.errors %}
                        <span class="text-danger">{{venta_form.total.errors|first}}</span>
                        {% endif %}
                    </div>
                </div>

                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-xs-offset-3 col-xs-6">
                        <button type="submit" class="btn btn-primary pull-right">
                            <i class="fa fa-save"></i> Guardar
                        </button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock  %}

{% block scripts %}
{% load static %}
<script>
    $(function(){

        $("#btn-search").on("click", function(){
            var $btn = $(this);
            var ci = $btn.closest(".form-group").find("input").first().val();
            $.ajax({
                url: '{% url "ventas.clientes" %}',
                method: 'get',
                data: {ci: ci},
                beforeSend: function(){
                    $btn.find("i").removeClass("fa-search").addClass("fa-spinner fa-spin");
                    $("#id_nombre").val("");
                    $("#id_cel").val("");
                },
                success: function(data){
                    $("#id_ci_nit").val(data.ci);
                    $("#id_nombre").val(data.nombre);
                    $("#id_cel").val(data.cel);
                },
                complete: function(){
                    $btn.find("i").addClass("fa-search").removeClass("fa-spinner fa-spin");
                }
            });
        });
    });
</script>
{% endblock %}