{% extends "main_layout.html" %}

{% block main_title %}
Automovil
{% endblock %}

{% block content  %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <a href="{% url 'automovil.lista' %}"><i class="fa fa-arrow-left"></i> Volver</a>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a href="#" ><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="alert alert-success alert-dismissible fade in" id="success-message">
                    <strong>Guardado!!!</strong> Se han realizado los cambios correctamente.
                </div>

                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        <div class="form-group">
                            <div class="input-group">
                                {% if object.conductor %}
                                <input type="text" value="{{object.conductor.usuario.persona.ci}}" class="form-control" disabled>
                                <div class="input-group-btn">
                                    <button type="button" id="btn-unlink" class="btn btn-default"><i class="fa fa-chain-broken"></i> Desvincular</button>>
                                </div>
                                {% else %}
                                <input type="text" placeholder="CI del conductor" class="form-control" id="ci-input">
                                <div class="input-group-btn">
                                    <button type="button" id="btn-link" class="btn btn-default"><i class="fa fa-chain"></i> Vincular</button>
                                </div>
                                {% endif %}
                            </div>
                            <span id="error-message" class="label label-danger"></span>
                        </div>
                    </div>
                </div>
                <table class="table table-hovered">
                    <tbody>
                        <tr>
                            <th style="text-align:right" width="30%">
                                PLACA
                            </th>
                            <td style="text-align: left">
                                {{object.placa}}
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align:right" width="30%">
                                MARCA
                            </th>
                            <td style="text-align: left">
                                {{object.marca}}
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align:right" width="30%">
                                TIPO
                            </th>
                            <td style="text-align: left">
                                {{object.tipo}}
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align:right" width="30%">
                                CLASE
                            </th>
                            <td style="text-align: left">
                                {{object.clase}}
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align:right" width="30%">
                                NRO. PLAZAS
                            </th>
                            <td style="text-align: left">
                                {{object.plazas}}
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align:right" width="30%">
                                COLOR
                            </th>
                            <td style="text-align: left">
                                {{object.color}}
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align:right" width="30%">
                                FOTO
                            </th>
                            <td style="text-align: left">
                                <img src="{{object.foto.url}}" width="300px" class="img img-responsive">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock  %}

{% block scripts %}
<script>
    $(function(){
        $("#success-message").hide();
        $("#error-message").html("");

        $("#btn-link").on("click", function(){
            var $btn = $(this);
            var ci = $("#ci-input").val();
            $.ajax({
                url: "{% url 'automovil.ligar' pk=object.id %}",
                data: { csrfmiddlewaretoken: "{{csrf_token}}", ligar: true, ci: ci },
                method: 'post',
                beforeSend: function(){
                    $btn.html("<i class='fa fa-spinner fa-pulse'></i> Espera...");
                    $("#error-message").html("");
                },
                success: function(data){
                    console.log(data);
                    if(data.success){
                        window.location.reload();
                    }else{
                        $("#error-message").html(data.error);
                        $btn.html("<i class='fa fa-chain'></i> Vincular");
                    }
                },
                error: function(){
                    $btn.html("<i class='fa fa-chain'></i> Vincular");
                    $("#error-message").html("Ha ocurrido un problema, vuelva a intentarlo");
                }
            });
        });
        $("#btn-unlink").on("click", function(){
            var $btn = $(this);
            $.ajax({
                url: "{% url 'automovil.ligar' pk=object.id %}",
                data: { csrfmiddlewaretoken: "{{csrf_token}}", ligar: false, ci:'' },
                method: 'post',
                beforeSend: function(){
                    $btn.html("<i class='fa fa-spinner fa-pulse'></i> Espera...");
                    $("#error-message").html("");
                },
                success: function(data){
                    if(data.success){
                        window.location.reload();
                    }else{
                        $("#error-message").html(data.error);
                        $btn.html("<i class='fa fa-chain-broke'></i> Desvincular");
                    }
                },
                error: function(){
                    $btn.html("<i class='fa fa-chain-broke'></i> Desvincular");
                    $("#error-message").html("Ha ocurrido un problema, vuelva a intentarlo");
                }
            });
        });
    });
</script>
{% endblock %}