{% extends "main_layout.html" %}

{% block main_title %}
{% if form.instance.pk is None%}
Crear automovil
{% else %}
Editar automovil
{% endif %}
{% endblock %}

{% block content  %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a href="#" ><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{form.placa.id_for_label}}" class="control-label col-xs-3">PLACA *</label>
                        <div class="col-xs-6">
                            {{form.placa}}
                            {% if form.placa.errors %}
                            <span class="text-danger">{{form.placa.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{form.marca.id_for_label}}" class="control-label col-xs-3">MARCA *</label>
                        <div class="col-xs-6">
                            {{form.marca}}
                            {% if form.marca.errors %}
                            <span class="text-danger">{{form.marca.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{form.tipo.id_for_label}}" class="control-label col-xs-3">TIPO *</label>
                        <div class="col-xs-6">
                            {{form.tipo}}
                            {% if form.tipo.errors %}
                            <span class="text-danger">{{form.tipo.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{form.clase.id_for_label}}" class="control-label col-xs-3">CLASE *</label>
                        <div class="col-xs-6">
                            {{form.clase}}
                            {% if form.clase.errors %}
                            <span class="text-danger">{{form.clase.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{form.plazas.id_for_label}}" class="control-label col-xs-3">NO. PLAZAS *</label>
                        <div class="col-xs-6">
                            {{form.plazas}}
                            {% if form.plazas.errors %}
                            <span class="text-danger">{{form.plazas.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{form.color.id_for_label}}" class="control-label col-xs-3">COLOR *</label>
                        <div class="col-xs-6">
                            {{form.color}}
                            {% if form.color.errors %}
                            <span class="text-danger">{{form.color.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{form.foto.id_for_label}}" class="control-label col-xs-3">FOTOGRAFIA *</label>
                        <div class="col-xs-6">
                            {{form.foto}}
                            {% if form.foto.errors %}
                            <span class="text-danger">{{form.foto.errors|first}}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-6">
                            <div class="pull-right">
                                <a href="{% url 'automovil.lista' %}" class="btn btn-default">
                                    <i class="fa fa-arrow-left"></i> Volver
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i> Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>
{% endblock  %}