{% extends "main_layout.html" %}

{% block styles%}
{% load static%}
<link href="{% static "vendors/iCheck/skins/flat/green.css" %}" rel="stylesheet">
<link href="{% static 'vendors/datatables/datatables.min.css' %}" rel="stylesheet">
{% endblock %}

{% block main_title %}
Listado de automoviles
{% endblock %}

{% block content  %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a href="#" ><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="btn-group" style="margin-bottom: 5px">
                            <a id="btn-new" class="btn btn-default" href="{% url 'automovil.crear' %}"><i class="fa fa-plus"></i> Agregar</a>
                            <button id="btn-detail" type="button" class="btn btn-default"><i class="fa fa-list"></i> Relacion</button>
                            <button id="btn-edit" type="button" class="btn btn-default"><i class="fa fa-edit"></i> Modificar</button>
                            <button id="btn-remove" type="button" class="btn btn-default"><i class="fa fa-trash"></i> Eliminar</button>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped jambo_table" id="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>PLACA</th>
                            <th>MARCA</th>
                            <th>TIPO</th>
                            <th>CLASE</th>
                            <th>PLAZAS</th>
                            <th>COLOR</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for auto in object_list %}
                        <tr data-edit="{% url 'automovil.editar' auto.id %}"
                            data-remove="{% url 'automovil.eliminar' auto.id %}"
                            data-detail="{% url 'automovil.mostrar' auto.id %}">
                            <td>
                                <input type="checkbox" class="icheck">
                            </td>
                            <td>{{ auto.placa }}</td>
                            <td>{{ auto.marca }}</td>
                            <td>{{ auto.tipo }}</td>
                            <td>{{ auto.clase }}</td>
                            <td>{{ auto.plazas }}</td>
                            <td>{{ auto.color }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7">No se han encontrado elementos.</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}

{% block scripts %}
{% load static %}
<script src="{% static "vendors/iCheck/icheck.min.js" %}"></script>
<script src="{% static "vendors/datatables/datatables.min.js" %}"></script>
<script>
    $(function(){
        checkTableStatus();

        $("#table").dataTable({
            "language": {
                "sProcessing":     "Procesando...",
                "sLengthMenu":     "Mostrar _MENU_ registros",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Ningún dato disponible en esta tabla",
                "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":    "",
                "sSearch":         "Buscar:",
                "sUrl":            "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":     "Último",
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        });

        $('.icheck').iCheck({
            checkboxClass:"icheckbox_flat-green"
        });

        $('.icheck').on('ifToggled', function(e){
            var $check = $(e.target);
            if($check.prop('checked')){
                $('.icheck').not($check).iCheck('uncheck');
            }
            checkTableStatus();
        });

        $('#btn-remove').on('click', function(e){
            e.preventDefault();
            var $selected = $('.icheck:checked').first();
            if($selected.length>0){
                var answer = confirm("¿Esta seguro de eliminar?");
                if(answer){
                    var delUrl = $selected.closest('tr').data('remove');
                    $.ajax({
                        method: 'get',
                        url: delUrl,
                        success: function(data){
                            if(data.success){
                                window.location.reload();
                            }
                        }
                    });
                }
            }
        });

        $('#btn-edit').on('click', function(e){
            e.preventDefault();
            var $selected = $('.icheck:checked').first();
            if($selected.length>0){
                var newUrl = $selected.closest('tr').data('edit');
                window.location.assign(newUrl);
            }
        });

        $('#btn-detail').on('click', function(){
            var $selected = $('.icheck:checked').first();
            if($selected){
                var detUrl = $selected.closest('tr').data('detail');
                window.location.assign(detUrl);
            }
        });
    });

    function checkTableStatus(){
        $("#btn-edit").addClass('disabled').prop('disabled', true);
        $("#btn-remove").addClass('disabled').prop('disabled', true);
        $("#btn-detail").addClass('disabled').prop('disabled', true);
        $('.icheck').each(function(){
            var $elem = $(this);
            if($elem.prop('checked')){
                $("#btn-edit").removeClass('disabled').prop('disabled', false);
                $("#btn-remove").removeClass('disabled').prop('disabled', false);
                $("#btn-detail").removeClass('disabled').prop('disabled', false);
            }
        });        
    }
</script>
{% endblock %}