{% extends "main_layout.html" %}

{% block main_title %}
Bienvenido
{% endblock %}

{% block content  %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        {% load static %}
        <div class="">
        <img src="{% static 'images/rapiditos_sur.jpg'%}" class="img-rounded img-responsive" style="margin-left: auto; margin-right:auto;">
        </div>

    </div>
</div>
{% endblock  %}